<!doctype html>
<html lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.ico" sizes="any">

  <link rel="stylesheet" href="https://unpkg.com/@primer/css/dist/primer.css">
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body class="{% if page.body-style %}{{ page.body-style }}{% else %}p-3{% endif %}">
  <main class="{% if page.main-style %}{{ page.main-style }}{% else %}container-md{% endif %}">
    <h1 class="h1-mktg mb-4">My Favorite Quotes</h1>
    {% for quote in site.quotes %}
    <div class="pb-4 mb-4 border-bottom">
      <blockquote class="f2-mktg mt-0 text-normal">{{ quote.content | markdownify }}</blockquote>
      <p class="f4-mktg"><a href="{{ quote.url }}">—{{ quote.author }}, {{ quote.year }}</a></p>
      <small>
        {% for item in quote.tags %}
        <span class="Label color-fg-muted">{{ item }}</span></small>
        {% endfor %}
    </div>
    {% endfor %}
  </main>
  <script src="assets/js/main.js"></script>
</body>

</html>